@using ISPCore.Engine.Base
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <!-- meta section -->
    <title>Авторизация</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" href="/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/generate/@Generate.Style(ActionStyle.css)">

    <style>
        .dev-page {
            visibility: hidden;
        }
    </style>
</head>
<body>

    <!-- page wrapper -->
    <div class="dev-page dev-page-lock-screen">

        <div class="dev-page-lock-screen-box">
            <div class="second-screen" style="display: block;">
                <form method="post" id="form">
                    <div class="photo">
                        <img src="/img/user.jpg">
                    </div>
                    <div class="title">ISPCore Panel<span>Введите пароль</span></div>
                    <div class="elements">
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="input-group form">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" type="password" name="passwd">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-md-8 col-md-offset-2">
                                <button class="btn btn-danger btn-block login">Войти</button>
                            </div>
                        </div>
                    </div>
                    <p style="color: #E74E40; display: none; text-align: center;" class="error">Ошибка</p>

                    <div class="basement">
                        © 2018 <strong>ISPCore</strong>. All rights reserved.
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- ./page wrapper -->

    <!-- javascript -->
    <script type="text/javascript" src="/style/jquery.min.js"></script>

    <script>
        $('.login').click(function (e) {
            e.preventDefault();

            $.post('/auth/unlock', $('#form').serializeArray(), function (data) {
                var json = JSON.parse(JSON.stringify(data));

                if (json.msg) $('.error').show().text(json.msg);
                else if (json.result) window.location = window.location.href;
                else $('.error').show().text('Ошибка авторизации');

            })
        })
    </script>
    <!-- ./javascript -->
</body>
</html>
