@using ISPCore.Engine.Base
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <!-- meta section -->
    <title>2FA авторизация</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="icon" href="/img/ico.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/style/generate/@Generate.Style(ActionStyle.css)">
    <script type="text/javascript" src="/style/jquery.min.jgz"></script>
    <script type="text/javascript" src="/style/old/js/sl.js"></script>

    <style>
        .dev-page {
            visibility: hidden;
        }
    </style>
</head>
<body>

    <div class="dev-page dev-page-lock-screen">
        <div class="dev-page-lock-screen-box">
            <div class="second-screen" style="display: block;">
                <form method="post" id="form">
                    <div class="elements">
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="input-group form">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input class="form-control" name="code" placeholder="Проверочный код">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-md-8 col-md-offset-2">
                                <button id="login" class="btn btn-danger btn-block login">Продолжить</button>
                            </div>
                        </div>
                    </div>

                    <div class="basement">
                        © 2018 <strong>ISPCore</strong>. All rights reserved.
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        $('.login').click(function (e)
        {
            e.preventDefault();

            $('#login').sl('load', '/auth/confirm/unlock', { back: false, ignore: true, data: $('#form').serializeArray(), dataType: 'json' }, function (json)
            {
                if (json.msg) $.sl('info', json.msg)
                else if (json.result) window.location = window.location.href;
                else $.sl('info', 'Ошибка авторизации');
            })
        })
    </script>

</body>
</html>

