@{
    Layout = null;
}

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>PHP 5.3 и выше</div>
    <div class="faq-text">
        <p>Путь к php 5.3-7.*, по умолчанию "/usr/bin/php"</p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Исключить из сканирования</div>
    <div class="faq-text">
        <h5>Рекомендуется только для экспресс-проверки на взлом</h5>
        <p>Укажите список расширений через запятую, пример: "jpg,png,gif,jpeg,JPG,PNG,GIF,bmp,xml,zip,rar,css,avi,mov"</p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Сканировать только определенные расширения</div>
    <div class="faq-text">
        <p>Укажите список расширений через запятую, пример: "php,php5,pht,phtml,pl,cgi,htaccess,suspected,tpl"</p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Режим проверки</div>
    <div class="faq-text">
        <p>Режим 1 рекомендуется для оценки заражения</p>
        <p>Режим 2 рекомендуется для получения максимально-детализированного отчета, но в данном режиме много ложных срабатываний</p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Размер памяти</div>
    <div class="faq-text">
        <p>Указывает количество выделенной оперативной памяти для антивируса</p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Максимальный размер проверяемого файла</div>
    <div class="faq-text">
        <p>Устанавливает максимальный размер проверяемого файла </p>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Пауза между файлами</div>
    <div class="faq-text">
        <h5>Для снижения нагрузки</h5>
        <p>Время между проверкой файлов устанавливается в ms</p>
    </div>
</div>