@{
    Layout = null;
}

<h2><i class="fa fa-globe"></i>Шаблоны правил</h2>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Список шаблонов</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/list/requests-filter/templates</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>page, pageSize</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.RequestsFilter_Templates</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Данные шаблона</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/list/requests-filter/template</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.RequestsFilter_Template</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Добавить шаблон</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/add/requests-filter/template</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>Name</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, Models.UpdateToIds</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Удалить шаблон</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/remove/requests-filter/template</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Импорт</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/common/template/import</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>result=bool</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Экспорт</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/common/template/export</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.RequestsFilter_Template</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Настройки</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/edit/template</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>Name</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>
