@{
    Layout = null;
}

<h2><i class="fa fa-cloud"></i>Sync Backup - DB</h2>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Список заданий</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/list/backup/db/tasks</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>page, pageSize</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.SyncBackup_db_Tasks</td>
            </tr>
        </table>
    </div>
</div>

<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Список операций</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/list/backup/db/operations</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>page, pageSize, TaskId</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.SyncBackup_db_Reports</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Данные задания</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/list/backup/db/task</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Ответ:</strong></td>
                <td>Models.SyncBackup_db_Task</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Добавить задание</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/add/backup/db/task</td>
            </tr>
            <tr>
                <td><strong>Параметры Bool:</strong></td>
                <td>dumpConf.AddBackupTime</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>tk.SuncTime, connectionConf.Port</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>tk.Description, dumpConf.IgnoreDatabases, dumpConf.DumpDatabases, dumpConf.Whence, connectionConf.Host, connectionConf.User, connectionConf.Password</td>
            </tr>
            <tr>
                <td><strong>Параметры Enum:</strong></td>
                <td>tk.JobStatus=(on|off), tk.TypeDb=(MySQL|PostgreSQL), dumpConf.Compression=(GZip|None)</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, Id=int</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Удалить задание</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/remove/backup/db/task</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Настройки / Основное</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/edit/backup/db/task</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id, SuncTime</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>Description</td>
            </tr>
            <tr>
                <td><strong>Параметры Enum:</strong></td>
                <td>JobStatus=(on|off), TypeDb=(MySQL|PostgreSQL)</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Настройки / DumpConf</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/edit/backup/db/task/dumpconf</td>
            </tr>
            <tr>
                <td><strong>Параметры Bool:</strong></td>
                <td>AddBackupTime</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>IgnoreDatabases, DumpDatabases, Whence</td>
            </tr>
            <tr>
                <td><strong>Параметры Enum:</strong></td>
                <td>Compression=(GZip|None)</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>


<div class="faq-item">
    <div class="faq-title"><span class="fa fa-angle-down"></span>Настройки / ConnectionConf</div>
    <div class="faq-text">
        <table class="table margin-bottom-0 table-bordered text-left">
            <tr>
                <td style="width: 150px;">
                    <strong>url:</strong>
                </td>
                <td>/api/edit/backup/db/connectionconf</td>
            </tr>
            <tr>
                <td><strong>Параметры Int:</strong></td>
                <td>Id, Port</td>
            </tr>
            <tr>
                <td><strong>Параметры String:</strong></td>
                <td>Host, User, Password</td>
            </tr>
            <tr>
                <td><strong>Ответы:</strong></td>
                <td>msg=string, result=bool</td>
            </tr>
        </table>
    </div>
</div>

