@{
    Layout = null;
}


@if (!string.IsNullOrWhiteSpace(ViewBag.client_id) && !string.IsNullOrWhiteSpace(ViewBag.code))
{
    if (!string.IsNullOrWhiteSpace(ViewBag.RefreshToken))
    {
        <center><h1>Ваш RefreshToken</h1></center>
        <textarea style="width: 100%; height: 300px">@ViewBag.RefreshToken</textarea>
    }
    else
    {
        <text><h1>К сожалению не удалось получить RefreshToken</h1></text>
    }
}

else
{
<text>
    <b>1</b>) Пройдите авторизацию по <a href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=2c2720ef-7b64-4938-9b68-2a88bdd2a456&response_type=code&redirect_uri=https://login.microsoftonline.com/common/oauth2/nativeclient&response_mode=query&scope=offline_access%20files.readwrite.all" target="_blank">ссылке</a> - (client_id=2c2720ef-7b64-4938-9b68-2a88bdd2a456 можете заменить на свое приложение)<br />
    <b>2</b>) На запрос 'Дать приложению доступ к вашим данным?', Нажмите "Да"<br /><br />

    <b>3</b>) Введите полученый код из ссылки https://login.microsoftonline.com/common/oauth2/nativeclient?code="тут нужный код" <br />
    <form action="/backup/authorize/onedrive" method="get">
        <p>code: &nbsp;&nbsp; &nbsp; <input type="text" name="code" style="width: 245px"></p>
        <p>client_id: <input type="text" name="client_id" value="2c2720ef-7b64-4938-9b68-2a88bdd2a456" style="width: 245px"></p>
        <p><input type="submit" value="Получить TokenRefresh"></p>
    </form>
</text>
}









